.scroll-slider {
    overflow: auto;
    white-space: nowrap;
    height: 270px;


    &__title {
        padding: 10px 0;
        display: block;
    }
}
@media screen and (max-width: 700px){
    .scroll-slider{
    padding: 20 0;
    }
}
