@import '../lib/variables';

a {
  text-decoration: none;
}

.menu__list li {
  margin-bottom: 10px;

  &.active {
    border-left: 3px solid $color-secondary;
    padding-left: 18px;
  }
}

.menu__icon {
  margin-right: 15px;
  margin-left: 20px;
}

.menu__subtitle {
  margin-left: 20px;
}

.new-playlist {
  cursor: pointer;
}

.newPlaylist {
  display: flex;
  justify-content: space-between;
}

form {
  button {
    background-color: $color-primary;
    color: white;
    padding: 12.5px 30px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }

  .title {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
  }

  input {
    margin-bottom: 20px;
    height: 35px;
    padding-left: 8px;
    font-size: 16px;
    width: 100%;
    color: black;
  }

  .content-wrap {
    margin: 0px auto;
    max-width: 250px;
    text-align: center;
  }
}