.container-favourite {
  padding: 10px;
  grid-template-columns: minmax(auto, 1024px);
  display: grid;
  justify-content: center;
  width:100%;
}
.container-playlistFav {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 5em;
  display: grid;
}
 @media screen and (max-width: 700px) {
   .container-favourite {
  justify-content: left;
  padding:30px;
}
 }