.container-Artist-hide-scroll {
  overflow: hidden;
  width: 100%;
}

.container-Artist-viewport {
  overflow: auto;
  height: 100%;
  margin-right: -100px;
  padding-right: 100px;
}
.artists {
  background-color: white;
}

.container-artist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
}

.ArtistPlayList {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.FilterArtist {
  display: grid;
  grid-column: 1;
  grid-row: 2;
}

.ScrollSlider {
  display: grid;
  grid-column: 1;
  grid-row: 3;
}
