@import "../assets/styles/lib/variables";
@import "../assets/styles/base/typography";

#app {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 12% 72% 16%;
}

.container__header {
  grid-column: 2 / 3;
  grid-row: 1 / 2
}

.container__menu {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}