@import '../../assets/styles/lib/variables';
@import '../../assets/styles/lib/mixins';

.container-fluid {
  display: grid;
  grid-column: 1 / 3;
  height: 100vh;
}
.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.googlesingup {
  max-width: 600px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  &__section {
    h1 {
      color: #4a4a4a;
      font-size: 36px;
      line-height: 40px;
    }
  }
  &__register {
    display: flex;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__photo {
    margin-top: 10px;
    position: relative;
    width: 90%;
    height: 330px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__picture {
      margin-top: 10px;
      border-radius: 50%;
      background-color: aliceblue;
      width: 133px;
      height: 133px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__editicon {
      h2 {
      }
    }
    &__info {
      padding-top: 30px;
      color: #4a4a4a;
    }
  }
}
