.artist-item {
  display: flex;
  overflow-x: scroll;
  margin: 10px;
  padding: 5px;
}

.container {
	position: relative;
	width: 900px;
	height: 100vh;
	max-height: 350px;
	margin-bottom: 30px;
	border-radius: 18px;
	margin-right: 30px;
}

.artist-item__imgen {
  background-color: rgba(6, 12, 21, 0.9);
  filter: brightness(0.7);
  border-radius: 18px;
}

.artist-item__img {
  width: 900px;
  max-height: 350px;
  height: 100vh;
  // -o-object-fit: cover;
  // object-fit: cover;
  border-radius: 18px;
}

.artist-item__details {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 15% 15% 30% 40%;
  grid-template-rows: 3fr 1fr 1fr;
  padding:20px;
}

.artist-profile {
  display: grid;
  grid-column: 1;
  grid-row: 2 / span 3;
  justify-content: center;
  align-items: flex-end;
}

.artist-profile__image {
  width: 98px;
  border-radius: 50px;
}

.artist-name__album {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  justify-content: left;
  align-items: flex-end;
}

.artist-name__album div {
  font-size: 22px;
  padding: 0;
}

.artist-name__followers {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  justify-content: left;
  align-items: center;
}

.artist-name__songs {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  justify-content: left;
  align-items: center;
}

.container-artist-play__list {
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(6, 12, 21, 0.9);
  border-radius: 10px;
  display: grid;
  grid-column: 4;
  grid-row: 1 / span 3;
}

.artist-play__list div {
  display: flex;
  color: white;
}
@media screen and (max-width: 700px) {
    padding:20px 0;
  }