.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(244, 249, 255, 0.0001) 0%,
    #f4f9ff 26.23%
  );

  &__table {
    padding-left: 30px;
  }
}
  @media screen and (max-width: 700px) {
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding:10px;

  &__table {
    padding-left: 30px;
  }
}
  }
  