@import '../../assets/styles/lib/variables';
@import '../../assets/styles/lib/mixins';

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  &__menu {
    width: 190px;
    border-right: 1px solid $color-border;
    @media screen and (max-width: 700px) {
      position: absolute;
      transform: translateX(-190px);
    }
  }
  &__mainsection {
    width: calc(100% - 190px);
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
}
