@import '../../assets/styles/lib/variables';
@import '../../assets/styles/lib/mixins';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid $color-border;
}

input[type='search'] {
  margin-left: 30px;
  outline: none;
  box-sizing: content-box;
  background: white
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: none;
  transition: all 0.5s;
  padding: 6px 10px 6px 32px;
  width: 350px;
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    display: none;
  }
  &:focus {
    width: 550px;
    background-color: white;
    border-bottom: 1px solid $color-border;
  }
}

.profile {
  display: flex;
  align-items: center;
  &__container {
    margin: 0;
    padding-left: 5px;
    margin-right: 20px;
    &--image {
      border-radius: $border-radius * 16.66;
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
    &--account {
      margin: 0;
    }
  }
}
