.music-item {
  width: 160px;
  padding-right: 20px;
  margin: 0 10px;

  &__image {
    width: 160px;
    height: 160px;
    border-radius: 5px;
  }

  &__title {
    font-weight: bold;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 15px;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color: grey;
  }
}