.scroll-slider {
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: 300px;
  overflow: scroll;
  overflow-y: hidden;
  // border: 1px solid red;
  &__table {
  }
  &__title {
    margin: 0;
    padding: 0;
    width: 500px;
    padding: 20px 30px;
    display: block;
  }
  @media screen and (max-width: 700px) {
    box-shadow:1px #000;
    padding: 20 0;
  }
}
