table {
    width: 100%;

    th {
        text-align: left;
        padding: 10px;
    }

    td {
        padding: 10px;
    }
    tbody {
        tr {
            font-size: 14px;
        }
        tr:hover {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
        }
    }
}
