.player {

    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;

    &__song {

        background: #005BA3;
        padding: 20px 40px;
        display: flex;
        min-width: 350px;

        &__image {
            width: 60px;
            height: 60px;
            border-radius: 5px;
            margin-right: 20px
        }

        &__container {

            width: 50px;
            height: 50px;
            overflow: hidden;
            display: flex;
            border-radius: 5px;
            margin-right: 40px;

        }

        &__content {

            strong {
                color: white
            }

            p {
                margin: 0px;
                color: #0097DB
            }

        }

    }

    &__player {

        display: flex;
        background: #0F1E36;
        width: 100%;
        justify-content: space-between;

        &__item {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            color: #FFFFFF;

            &__progress {
                background: #fff;
                width: 100px;
                height: 4px;
            }

        }

        &__item-play {
            display: flex;

            align-items: center;
            justify-content: center;

            border: solid 5px #0097DB;
            background: #5aaed6;
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }



    }

}