@import '../../assets/styles/lib/variables';

.player {

	position: fixed;
	bottom: 0px;
	width: 100%;
	display: flex;



	&__song {

		background: rgba(10, 91, 191, 0.8);
		backdrop-filter: blur(5px);

		padding: 20px 40px;
		display: flex;
		min-width: 350px;

		&__image {
			width: 60px;
			height: 60px;
			border-radius: 5px;
			margin-right: 20px
		}

		&__container {

			width: 50px;
			height: 50px;
			overflow: hidden;
			display: flex;
			border-radius: 5px;
			margin-right: 40px;

		}

		&__content {

			strong {
				color: white
			}

			p {
				margin: 0px;
				color: white
			}

		}

	}

	&__controls {
		width: 100%;

		align-items: center;
		justify-content: center;

		background: rgba(5, 5, 5, .8);
		backdrop-filter: blur(5px);
		// background: $color-acents;

		&__buttons {

			display: flex;
			justify-content: center;
			align-items: center;

			button {
				outline-style: none;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px;
				background: none;
				border: none;
				border-radius: 50%;

				img {
					width: 20px
				}

				.play {
					display: flex;

					align-items: center;
					justify-content: center;

					border: solid 5px $color-secondary;
					background: #5aaed6;
					border-radius: 50%;
					width: 50px;
					height: 50px;
				}
			}

			button:hover {
				background-color: rgba(255, 255, 255, .1);
				transition: .4s;
			}

		}



		&__progress {
			display: flex;
			color: $color-grey;
			align-items: center;
			justify-content: center;



			&__bar {
				-webkit-appearance: none;

				width: 70%;
				height: 3px;
				border-radius: 3px;
				margin: 0 10px;
			}

			&__bar::-webkit-slider-runnable-track {
				height: 3px;
				background: $color-base;
				border: none;
			}

			&__bar::-webkit-slider-thumb {
				-webkit-appearance: none;
				border: none;
				height: 16px;
				width: 16px;
				border-radius: 50%;
				background: $color-base;
				margin-top: -7px;
			}

			&__bar::-ms-fill-lower {
				background: #777;
				border-radius: 10px;
			}

		}
	}

	&__volume {
		// background: $color-primary;
		background: rgba(5, 5, 5, .8);
		backdrop-filter: blur(5px);
		padding: 20px 40px;
		display: flex;
		// min-width: 350px;
		align-items: center;
		justify-content: space-between;
	}
}