@import '../../assets/styles/lib/variables';
@import '../../assets/styles/lib/mixins';

.albums {
  background: linear-gradient(
    180deg,
    rgba(244, 249, 255, 0.0001) 0%,
    #f4f9ff 26.23%
  );
  h2 {
    padding-left: 30px;
    margin-top: 20px;
  }
}
.album {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
  }
  &__image {
    margin-left: 20px;
    position: relative;
    h2 {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 500;
      font-size: 50px;
    }
  }
  &__table {
    padding: 0 30px;
    h4 {
      font-size: 20px;
    }
    h1 {
      font-size: 55px;
      line-height: 60px;
    }
  }
}
